
$primary: #00a0b0;
$secondary: #edc951;
$success: rgb(100, 202, 87);
$info: #565dbd;
$warning: #eb6841;
$jumbotron-bg: $secondary;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol Condensed;
$card-cap-bg: $secondary;
$danger: #cc2a36;
$black: #000;
$navbar-light-color: rgba($black, .5);